/*
 * Copyright © 2017, Robert Gollagher.
 * SPDX-License-Identifier: GPL-3.0+
 * 
 * File:       fvm.css
 * Author :    Robert Gollagher   robert.gollagher@freeputer.net
 * Created:    20170303
 * Updated:    20170514-0023
 * Version:    pre-alpha-0.0.0.17 for FVM 2.0
*/

@CHARSET "UTF-8";

body {
  background-color: #222222;
}

h2 {
  color: gray;
}

.fvmWarning {
  color: red;
}

.fvmDiv {
  background-color: #222222;
  color: gray;
  margin-left: 20px;
  margin-right: 20px;
}

.fvmOut {
  background-color: black;
  color: white;
}

.fvmMaxed {
  height: 100%;
  width: 100%;
}

.fvmSmall {
  height: 8vh;
}

.fvmMed {
  height: 32vh;
}

.fvmScroll {
  display: block;
  overflow: auto;
}

